{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- PAGE CONTENT
============================================= -->
    <div id="page" class="page">


        <!-- PAGE HERO
        ============================================= -->
        <div id="faqs-page" class="page-hero-section division">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="hero-txt text-center white-color">

                            <!-- Breadcrumb -->
                            <div id="breadcrumb">
                                <div class="row">
                                    <div class="col">
                                        <div class="breadcrumb-nav">
                                            <nav aria-label="breadcrumb">
                                                <ol class="breadcrumb">
                                                    <li class="breadcrumb-item"><a href="demo-1.html">Home</a></li>
                                                    <li class="breadcrumb-item active" aria-current="page">F.A.Q.s</li>
                                                </ol>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Title -->
                            <h2 class="h2-xl">F.A.Q.s</h2>

                        </div>
                    </div>
                </div>      <!-- End row -->
            </div>       <!-- End container -->
        </div>    <!-- END PAGE HERO -->


        <!-- FAQs-1
        ============================================= -->
        <section id="faqs-1" class="wide-100 faqs-section division">
            <div class="container">


                <!-- FAQs-1 QUESTIONS -->
                <div class="faqs-1-questions">
                    <div class="row">


                        <!-- QUESTIONS WRAPPER -->
                        <div class="col-lg-12">
                            <div class="questions-wrapper d-flex justify-content-center">
                                {% for faq in Faqs %}
                                    <!-- QUESTION #1 -->
                                    <div class="question">

                                        <!-- Question -->
                                        <h5 class="h5-xs">{{ faq.question }}</h5>

                                        <!-- Answer -->
                                        <p class="grey-color">{{ faq.answer }}
                                        </p>

                                    </div>
                                {% endfor %}
                            </div>
                        </div>    <!-- END QUESTIONS WRAPPER -->
                    </div>    <!-- End row -->
                </div>    <!-- END FAQs-1 QUESTIONS -->


                <!-- MORE QUESTIONS BUTTON -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="more-questions-btn text-center">
                            <a href="{% url 'pages:contact' %}" class="btn btn-md btn-red tra-red-hover">Still Have A
                                Question?</a>
                        </div>
                    </div>
                </div>


            </div>     <!-- End container -->
        </section>    <!-- END FAQs-1 -->


        <!-- NEWSLETTER-1
        ============================================= -->
        <section id="newsletter-1" class="mb-20 newsletter-section division">
            <div class="container">
                <div class="inner-bg bg-lightgrey">
                    <div class="row">


                        <!-- NEWSLETTER FORM -->
                        <div class="col-md-10 col-xl-8 offset-md-1 offset-xl-2">
                            <div class="newsletter-txt text-center">

                                <!-- Title -->
                                <h3 class="h3-sm">Subscribe To Newsletter</h3>

                                <!-- Text -->
                                <p class="p-md grey-color">Subscribe to the weekly newsletter for all the latest
                                    updates</p>

                                <!-- Form -->
                                <form class="newsletter-form">

                                    <div class="input-group">
                                        <input type="email" class="form-control" placeholder="Your email address"
                                               required id="s-email">
                                        <span class="input-group-btn">
												<button type="submit" class="btn btn-red tra-red-hover">Sign Up</button>
											</span>
                                    </div>

                                    <!-- Newsletter Form Notification -->
                                    <label for="s-email" class="form-notification"></label>

                                </form>

                            </div>
                        </div>      <!-- END NEWSLETTER FORM -->


                    </div>     <!-- End row -->
                </div>    <!-- End Inner Bg -->
            </div>       <!-- End container -->
        </section>    <!-- END NEWSLETTER-1 -->
    </div>    <!-- END PAGE CONTENT -->

{% endblock %}