{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

    <!-- PAGE CONTENT
    ============================================= -->
    <div id="page" class="page">


        <!-- PAGE HERO
        ============================================= -->
        <div id="locations-page" class="page-hero-section division">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="hero-txt text-center white-color">

                            <!-- Breadcrumb -->
                            <div id="breadcrumb">
                                <div class="row">
                                    <div class="col">
                                        <div class="breadcrumb-nav">
                                            <nav aria-label="breadcrumb">
                                                <ol class="breadcrumb">
                                                    <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">{%  trans 'Home' %}</a></li>
                                                    <li class="breadcrumb-item active" aria-current="page">{% trans 'Locations' %}
                                                    </li>
                                                </ol>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Title -->
                            <h2 class="h2-xl">{% trans 'Our Locations' %}</h2>

                        </div>
                    </div>
                </div>      <!-- End row -->
            </div>       <!-- End container -->
        </div>    <!-- END PAGE HERO -->


        <!-- CONTACTS-3
        ============================================= -->
        <section id="contacts-3" class="bg-fixed wide-60 contacts-section division">
            <div class="container">
                <div class="row">


                    {% for location in location %}
                        <div class="col-md-6 col-lg-4">
                            <div class="cbox-3 text-center">

                                <!-- Image -->
                                <div class="hover-overlay">
                                    <img class="img-fluid" src="{{ location.img.url }}" alt="location-image"/>
                                </div>

                                <!-- Text -->
                                <div class="cbox-3-txt">

                                    <!-- Location -->
                                    <h5 class="h5-xl red-color">{{ location.city }}</h5>

                                    <!-- Phone -->
                                    <h6 class="h6-xl">{% trans 'Phone' %}: <span><a href="tel:{{ location.number }}">{{ location.number }}</a></span></h6>

                                    <!-- Address -->
                                    <h6 class="h6-lg mt-20">{% trans 'Address' %}</h6>
                                    <p class="grey-color">{{  location.full_address }}</p>

                                    <!-- Working Hours -->
                                    <p class="grey-color">Daily 10AM - 10PM</p>

                                </div>

                            </div>
                        </div>
                    {% endfor %}


                </div>    <!-- End row -->


            </div>       <!-- End container -->
        </section>    <!-- END CONTACTS-3 -->


        <!-- NEWSLETTER-1
        ============================================= -->
        <section id="newsletter-1" class="mb-20 newsletter-section division">
            <div class="container">
                <div class="inner-bg bg-lightgrey">
                    <div class="row">


                        <!-- NEWSLETTER FORM -->
                        <div class="col-md-10 col-xl-8 offset-md-1 offset-xl-2">
                            <div class="newsletter-txt text-center">

                                <!-- Title -->
                                <h3 class="h3-sm">Subscribe To Newsletter</h3>

                                <!-- Text -->
                                <p class="p-md grey-color">Subscribe to the weekly newsletter for all the latest
                                    updates</p>

                                <!-- Form -->
                                <form class="newsletter-form">

                                    <div class="input-group">
                                        <input type="email" class="form-control" placeholder="Your email address"
                                               required id="s-email">
                                        <span class="input-group-btn">
												<button type="submit" class="btn btn-red tra-red-hover">Sign Up</button>
											</span>
                                    </div>

                                    <!-- Newsletter Form Notification -->
                                    <label for="s-email" class="form-notification"></label>

                                </form>

                            </div>
                        </div>      <!-- END NEWSLETTER FORM -->


                    </div>     <!-- End row -->
                </div>    <!-- End Inner Bg -->
            </div>       <!-- End container -->
        </section>    <!-- END NEWSLETTER-1 -->
    </div>    <!-- END PAGE CONTENT -->

{% endblock %}