{% load static %}
{% load i18n %}


<!-- PRELOADER SPINNER
============================================= -->
{#<div id="loader-wrapper">#}
{#    <div id="loader">#}
{#        <div class="cssload-spinner">#}
{#            <div class="cssload-ball cssload-ball-1"></div>#}
{#            <div class="cssload-ball cssload-ball-2"></div>#}
{#            <div class="cssload-ball cssload-ball-3"></div>#}
{#            <div class="cssload-ball cssload-ball-4"></div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
<!-- HEADER-1
============================================= -->
<header id="header-1" class="header navik-header header-shadow center-menu-1 header-transparent">
    <div class="container">


        <!-- NAVIGATION MENU -->
        <div class="navik-header-container">


            <!-- CALL BUTTON -->
            <div class="callusbtn"><a href="tel:123456789"><i class="fas fa-phone"></i></a></div>


            <!-- LOGO IMAGE -->
            <div class="logo" data-mobile-logo="{% static 'images/logo-01.png' %}"
                 data-sticky-logo="{% static 'images/logo-01.png' %}">
                <a href="{% url 'pages:home' %}"><img src="{% static 'images/logo-01.png' %}" alt="header-logo"/></a>
            </div>


            <!-- BURGER MENU -->
            <div class="burger-menu">
                <div class="line-menu line-half first-line"></div>
                <div class="line-menu"></div>
                <div class="line-menu line-half last-line"></div>
            </div>


            <!-- MAIN MENU -->
            <nav class="navik-menu menu-caret navik-yellow">
                <ul class="top-list">

                    <!-- DROPDOWN MENU -->
                    <li><a href="#">{% trans 'About' %}</a>
                        <ul>
                            <li><a href="{% url 'pages:about' %}">{% trans 'About Testo' %}</a></li>
                            <li><a href="{% url 'pages:team' %}">{% trans 'Meet The Team' %}</a></li>
                            <li><a href="gallery.html">{% trans 'Images Gallery' %}</a></li>
                            <li><a href="{% url 'pages:faqs' %}">{% trans 'F.A.Q.s' %}</a></li>
                            <li><a href="{% url 'pages:terms' %}">{% trans 'Terms & Privacy' %}</a></li>
                        </ul>
                    </li>

                    <!-- DROPDOWN MENU -->
                    <li><a href="#">{% trans 'Our Menu' %}</a>
                        <ul>
                            <li><a href="menu-1.html">Menu v.1 - Tabs Cards</a></li>
                            <li><a href="{% url 'product:menu' %}">Menu v.2 - Cards</a></li>
                            <li><a href="menu-3.html">Menu v.3 - Sections</a></li>
                        </ul>
                    </li>
                </ul>
                <ul>

                    <!-- DROPDOWN MENU -->
                    <li><a href="#">Shop</a>
                        <ul>
                            <li><a href="product-single.html">Single Product</a></li>
                            <li><a href="cart.html">Shopping Cart</a></li>
                        </ul>
                    </li>

                    <!-- DROPDOWN MENU -->
                    <li><a href="{% url 'blog:blog_list' %}">{% trans 'Blog' %}</a>

                    </li>
                    '
                    <!-- DROPDOWN MENU -->
                    <li><a href="#">{% trans 'Contacts' %}</a>
                        <ul>
                            <li><a href="{% url 'customer:booking' %}">{% trans 'Book A Table' %}</a></li>
                            <li><a href="{% url 'pages:location' %}">{% trans 'Our Locations' %}</a></li>
                            <li><a href="{% url 'pages:contact' %}">{% trans 'Contact Us' %}</a></li>
                        </ul>
                    </li>

                    {% get_current_language as current_lang %}
                    <li><a href="">{{ current_lang }}</a>
                        <ul>
                            {% get_available_languages as languages %}
                            {% for lan in languages %}
                                {% if lan.0 != current_lan %}
                                    <li>
                                        <a href="/{{ lan.0 }}/{{ request.path|slice:'4:' }}"
                                           style="text-decoration: none; color: black;">{{ lan.1|upper }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>

                    <!-- BASKET ICON -->
                    <li class="basket-ico ico-30">
                        <a href="cart.html">
                            <span class="ico-holder"><span class="flaticon-shopping-bag"></span> <em class="roundpoint">2</em></span>
                        </a>
                    </li>


                </ul>
            </nav>    <!-- END MAIN MENU -->


        </div>    <!-- END NAVIGATION MENU -->


    </div>     <!-- End container -->
</header>    <!-- END HEADER-1 -->